@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 4rem;
  margin: 4rem;
  background: url(../images/bg-pattern-bottom.svg) bottom -600px right -150px
      no-repeat,
    url(../images/bg-pattern-top.svg) top -500px left -200px no-repeat;
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.top-pattern,
.bot-pattern {
  position: fixed;
}

.top-pattern {
  bottom: 50%;
  right: 50%;
}

.bot-pattern {
  top: 50%;
  left: 50%;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 350px;
  width: 350px;
  border-radius: 10px;
  box-shadow: rgba(85, 85, 98, 0.2) 0px 7px 29px 0px;
  position: relative;
  overflow: hidden;
}
.card-content {
  position: relative;
  top: -50px;
}
.pattern-img {
  border-radius: 10px 10px 0px 0px;
  height: 140px;
  width: 350px;
  flex: 0.3;
}
.victor-img {
  height: 100px;
  width: 100px;
  position: relative;
  margin-left: 125px;
  top: -5px;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid white;
}
.victor-img:hover {
  transform: scale(1.2);
}
.name {
  font-weight: 800;
  text-align: center;
  font-size: large;
}
.age {
  color: hsl(227, 10%, 46%);
  font-weight: normal;
}
.place {
  font-weight: 700;
  text-align: center;
  color: hsl(227, 10%, 46%);
}
.line {
  position: relative;
  top: -15px;
}
.followers,
.likes,
.photos {
  font-weight: 800;
  color: hsl(227, 10%, 46%);
  letter-spacing: 2px;
  font-size: 10px;
}
.follow,
.eightlikes,
.onekphotos {
  width: 70px;
  align-items: center;
  text-align: center;
}
.eighthundred,
.onek,
.eighty {
  font-weight: 800;
}
.eightlikes,
.onekphotos {
  margin-left: 30px;
}
.profile-details {
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
  margin-left: 15px;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: -29px;
}
.attribution {
  line-height: 3rem;
  font-size: 1rem;
  color: hsl(229, 23%, 23%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
